<!-- views/pages/popular.ejs -->

<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
    <body>

        <div class="popular-list">

        <% for(var i=0; i<movies.length; i++) { %>

            <a class="popular-list__item" href="/m/<%= movies[i].movieData.id %>">

                <!-- so:movie -->
                <div class="media">

                    <!-- so:movie__backdrop -->
                    <div class="media-backdrop">
                        <div class="media-backdrop__image" style="background: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url('<%= helper.getResourceUrl(movies[i].movieData.backdrop_path) %>') 50% 50% / cover;"></div>
                        <div class="media-backdrop__overlay"></div>
                    </div>
                    <!-- eo:movie__backdrop -->

                    <!-- so:movie__info -->
                    <div class="media__info">
                        <img class="media__poster" src="<%= helper.getResourceUrl(movies[i].movieData.poster_path) %>" alt="<%= movies[i].movieData.title %>">
                        <h3 class="media__title"><%= movies[i].movieData.title %></h3>
                    </div>
                    <!-- eo:movie__info -->

                </div>
                <!-- so:movie -->

            </a>

        <% } %>

        </div>

    </body>
</html>